---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Button } from "@/components/ui/button";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <>
      <Button>Button 1</Button>
      <p><span class="bg-amber-200 text-2xl flex text-center">WELCOME</span></p>
    </>
  </body>
</html>
