---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Button } from "@/components/ui/button";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="">
    <Header />

    <div class="font-[Minecraft-Ten] flex justify-center bg-saffron h-dvh">
      <Button>Button 1</Button>
      <h1 class="text-center text-9xl px-10">WELCOME ,</h1>
      <h4>To the landing page</h4>
    </div>
  </body>
</html>
