---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Button } from "@/components/ui/button";
import { ThreeDCardDemo } from "@/components/threedemo";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="bg-saffron h-screen flex flex-col items-center">
      <div class="p-10">
        <Button>Button 1</Button>
      </div>
      <div class="text-center font-[Minecraft-Ten]">
        <h1>Welcome ,</h1>
        <h6>To the landing page</h6>
        <p>Homepage Under Construction</p>
      </div>
    </div>
  </body>
</html>
