---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Button } from "@/components/ui/button";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="bg-saffron h-screen flex flex-col items-center">
      <div class="p-10 flex justify-between w-full border-4">
        <Button className="mx-10">Button 1</Button>
        <Button className="mx-10">Button 2</Button>
      </div>
      <div class="text-center font-[Minecraft-Ten]">
        <h1 class="">Welcome</h1>
        <h6>To the landing page</h6>
        <p>Homepage Under Construction</p>
      </div>

      <div
        class="flex w-full bg-amber-600 justify-between p-5 items-center h-200"
      >
        <div
          class="border-amber-50 border-2 p-10 m-10 grid-cols-8 grid h-100 aspect-square place-items-center"
        >
          <div class="border-2 w-[56px] aspect-square"></div>
          <div class="border-2 w-[56px] aspect-square"></div>
          <div class="border-2 w-[56px] aspect-square"></div>
          <div class="border-2 w-[56px] aspect-square"></div>
          <div class="border-2 w-[56px] aspect-square"></div>
          <div class="border-2 w-[56px] aspect-square"></div>
          <div class="border-2 w-[56px] aspect-square"></div>
          <div class="border-2 w-[56px] aspect-square"></div>
          <div class="border-2 w-[56px] aspect-square"></div>
          <div class="border-2 w-[56px] aspect-square"></div>
          <div class="border-2 w-[56px] aspect-square"></div>
          <div class="border-2 w-[56px] aspect-square"></div>

        </div>
        <div class="border-amber-50 border-2 p-5 m5">Tools that I use</div>
      </div>
    </div>
  </body>
</html>
